/*========== ABOUT ==========*/
/* section-1 about-info */
.about-info {
  margin-bottom: 100px;
}
.about-info__box {
  display: flex;
  gap: 0 100px;
}
.about-info__box_text {
  width: 748px;
}
@media (max-width: 992px) {
  .about-info__box {
    gap: 0 70px;
  }
  .about-info__box_text {
    width: 600px;
  }
}
@media (max-width: 840px) {
  .about-info__box {
    gap: 0 40px;
  }
}
@media (max-width: 767px) {
  .about-info__box {
    flex-direction: column;
  }
  .about-info__box_text {
    width: 100%;
  }
}

/* section-2 achieve */
.achievement-list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 30px;
  margin: 80px 0 150px;
}
.achievement-item {
  border-radius: 12px;
  background: var(--Absolute-White, #fff);
  padding: 50px;
  width: 785px;
}
.achievement-item__img {
  border-radius: 8px;
  background: var(--Orange-97, #fff9f0);
  padding: 16px;
  width: 66px;
}
.achievement-item__img_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.achievement-item__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--Grey-15, #262626);
  margin-top: 30px;
}

@media (max-width: 1600px) {
  .achievement-list {
    justify-content: center;
  }
  .achievement-item {
    max-width: 650px;
  }
}
@media (max-width: 1300px) {
  .achievement-item {
    padding: 40px;
    max-width: 600px;
  }
}
@media (max-width: 1200px) {
  .achievement-item {
    max-width: 550px;
  }
}
@media (max-width: 1100px) {
  .achievement-list {
    gap: 20px;
  }
  .achievement-item {
    padding: 30px;
    max-width: 500px;
  }
}
@media (max-width: 992px) {
  .achievement-list {
    margin: 60px 120px;
  }
  .achievement-item {
    max-width: 400px;
  }
}
@media (max-width: 800px) {
  .achievement-list {
    grid-template-columns: repeat(1, max-content);
  }
  .achievement-item {
    max-width: 650px;
    padding: 30px;
  }
}
@media (max-width: 676px) {
  .achievement-item {
    max-width: 550px;
  }
}
@media (max-width: 550px) {
  .achievement-item {
    padding: 30px 15px;
    max-width: 450px;
  }
}
@media (max-width: 450px) {
  .achievement-item {
    max-width: 320px;
  }
}

