/*========== HOME ==========*/
/* section-1 begin */
.begin {
  margin: 115px 0 150px;
}

.begin-box {
  max-width: 965px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  padding: 0 55px;
}

.begin-box__title {
  display: flex;
  padding: 14px 30px 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: var(--White-99, #00ffd042);
  border: 3px solid var(--White-95, #ffffff);
  box-shadow: 0 0 100px #00ffd0;
}

.begin-box__title_icon {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--Orange-95, #00ffd0);
}
.icon {
  width: 34px;
  height: 34px;
}

.begin-box__title_text span {
  color: var(--Orange-50, #8c00ff);
}

.begin-box__description {
  color: white;
  text-shadow: 0 0 20px #00ffd0;
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  line-height: 1.5;
}

.begin-box__text {
  font-size: 18px;
  color: var(--Grey-15, #00ffd0);
  font-weight: 400;
}

.begin-box__button {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 0 12px;
}
.begin-box__button-1 {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  background: var(--Orange-50, #8c00ff);
  border-radius: 8px;
  border: none;
}
.begin-box__button-1 a {
  color: #fff;
  font-size: 18px;
}

.begin-box__button-2 {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--Absolute-White, #00ffd04d);
  border: 2px solid #ffffff;
  /* box-shadow: 0 0 20px #00ffd0; */
}
.begin-box__button-2:hover {
  box-shadow: 0 0 20px #00ffd0;
}

.begin-icons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  margin: 100px 0;
}

.begin-icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 60px;
}
.begin-icons__item img:hover{
  filter: brightness(0) invert(1) drop-shadow(0 0 10px #00ffd0);
}
@media (max-width: 1400px) {
  .begin-icons {
    padding: 24px;
  }
  .begin-icons__item {
    padding: 20px 40px;
  }
}
@media (max-width: 992px) {
  .begin-icons__item {
    padding: 20px;
  }
}
@media (max-width: 900px) {
  .begin-icons {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 40px;
  }
}
@media (max-width: 676px) {
  .begin-icons {
    grid-template-columns: repeat(2, max-content);
  }
  .begin-box {
    padding: 0 10px;
  }
}
@media (max-width: 500px) {
  .begin-box__title {
    padding: 10px;
  }
}

/* section-2 benefits*/
.benefits {
  margin-bottom: 100px;
}

.box__info_description {
  display: flex;
  justify-content: space-between;
}
.box__info_description-text {
  max-width: 1177px;
  color: #c4c4c4;
}
.box__info_description-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  padding: 14px 24px;
  background-color: #00ffd054;
  border-radius: 8px;
}
.box__info_description-button:hover {
  box-shadow: 0 0 20px #00ffd0;
}
.box__info_description-button-2 a{
  color: #8c00ff;
}
.benefits-box__list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 20px;
  margin-top: 80px;
  color: white;
}
.benefits-box__item {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
  background: linear-gradient(150deg, #8c00ff, #8c00ff46,transparent,#00ffd023, #00ffd09c);
  /* box-shadow: 0 0 px #00ffd0; */
  max-width: 519px;
  border-radius: 20px;
}
.benefits-box__item_number {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.benefits-box__item_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: white;
}
.benefits-box__item_text {
  font-weight: 400;
  font-size: 18px;
  color: #00ffd0;
  font-weight: 200;
}
.benefits-box__item_icon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  border-radius: 8px;
}
.benefits-box__item_icon-img {
  width: 34px;
  height: 34px;
  color: #8c00ff;
}

@media (max-width: 1600px) {
  .benefits-box__list {
    justify-content: center;
    gap: 30px;
  }
  .benefits-box__item {
    padding: 30px;
    max-width: 419px;
  }
}
@media (max-width: 1400px) {
  .box__info_description-text {
    max-width: 992px;
  }
}
@media (max-width: 1350px) {
  .benefits-box__list {
    gap: 20px;
  }
  .benefits-box__item {
    max-width: 350px;
  }
}
@media (max-width: 1150px) {
  .box__info_description-text {
    max-width: 700px;
  }
}
@media (max-width: 1100px) {
  .benefits-box__list {
    grid-template-columns: repeat(2, max-content);
    gap: 30px;
  }
  .benefits-box__item {
    padding: 40px 30px;
    max-width: 420px;
  }
}
@media (max-width: 992px) {
  .box__info_description-text {
    max-width: 500px;
  }
}
@media (max-width: 850px) {
  .benefits-box__list {
    gap: 20px;
  }
  .benefits-box__item {
    max-width: 350px;
  }
}
@media (max-width: 720px) {
  .benefits-box__list {
    grid-template-columns: repeat(1, max-content);
    gap: 40px 0;
  }
  .benefits-box__item {
    max-width: 570px;
  }
}
@media (max-width: 640px) {
  .box__info_description {
    flex-direction: column;
    gap: 20px 0;
  }
}
@media (max-width: 540px) {
  .benefits-box__item {
    max-width: 400px;
  }
}
@media (max-width: 400px) {
  .benefits-box__item {
    max-width: 320px;
    padding: 40px 20px;
  }
}

/* section-3 course-information */
.course-information__list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  margin-top: 80px;
  margin-bottom: 100px;
  gap: 30px;
}
.course-information__item {
  background: linear-gradient(50deg, #8c00ff, #8c00ff46,transparent,#00ffd01f, #00ffd09c);
  max-width: 785px;
  border-radius: 30px;
  padding: 50px;
}
.course-information__item:hover {
  box-shadow: 0 0 50px #00ffd0;
}
.course-information__item_description {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}
.course-information__item-box {
  display: flex;
  gap: 0 10px;
}
.course-information__item_description_author {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--Grey-15, #00ffd0);
}
.course-information__item_title {
  font-size: 24px;
  font-weight: 600;
  color: var(--Grey-15, #ffffff);
  line-height: 1.5;
}
.course-information__item_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  border-radius: 8px;
  border: 1px solid var(--White-95, #00ffd0);
  background: var(--White-97, #00ffd023);
  width: 100%;
  color: #00ffd0;
  margin-top: 30px;
}
.course-information__item_button p {
  color: var(--Grey-15, #0000007c);
}
@media (max-width: 1600px) {
  .course-information__list {
    justify-content: center;
  }
  .course-information__item {
    max-width: 600px;
    padding: 40px;
  }
}
@media (max-width: 1200px) {
  .course-information__item {
    max-width: 500px;
  }
}
@media (max-width: 992px) {
  .course-information__list {
    grid-template-columns: repeat(1, max-content);
  }
  .course-information__item {
    max-width: 800px;
    padding: 50px;
  }
}
@media (max-width: 767px) {
  .course-information__item {
    max-width: 600px;
    padding: 40px;
  }
}
@media (max-width: 600px) {
  .course-information__item {
    max-width: 400px;
    padding: 40px 20px;
  }
}
@media (max-width: 400px) {
  .course-information__item {
    max-width: 320px;
  }
}

/* section-4 testimonials */
.testimonials-list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 30px;
  margin-top: 80px;
  margin-bottom: 150px;
}
.testimonials-item {
  max-width: 785px;
  padding: 50px 50px 30px;
  background: var(--Absolute-White, #00ffd056);
  border: 3px solid white;
}
.testimonials-item:hover {
  box-shadow: 0 0 50px #00ffd0;
}
.testimonials-item p{
  color: white;
}
.testimonials-info {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  color: #8c00ff;
}
.testimonials-info_text {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0 15px;
}
.testimonials-info__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--Grey-20, #ffffff);
}
.testimonials-info__button {
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  background: var(--White-97, #f7f7f891);
}
@media (max-width: 1600px) {
  .testimonials-list {
    justify-content: center;
    gap: 40px;
  }
  .testimonials-item {
    max-width: 600px;
    padding: 40px;
  }
}
@media (max-width: 1300px) {
  .testimonials_list {
    gap: 30px;
  }
  .testimonials-item {
    max-width: 500px;
    padding: 40px 30px;
  }
}
@media (max-width: 1050px) {
  .testimonials-list {
    gap: 20px;
  }
  .testimonials-item {
    max-width: 450px;
  }
}
@media (max-width: 992px) {
  .testimonials-list {
    grid-template-columns: repeat(1, max-content);
    gap: 40px;
  }
  .testimonials-item {
    max-width: 800px;
  }
}
@media (max-width: 800px) {
  .testimonials-list {
    gap: 30px 0;
  }
  .testimonials-item {
    max-width: 600px;
  }
}
@media (max-width: 600px) {
  .testimonials-item {
    max-width: 400px;
  }
}
@media (max-width: 400px) {
  .testimonials-item {
    max-width: 320px;
    padding: 30px 10px;
  }
}

/* section-4 price-information */
.box__info_description-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: var(--Absolute-White, #FFF);
  border-radius: 8px;
}
.box__info_description-button-1 {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  border: none;
  background-color: var(--Orange-50, #8c00ff);
  padding: 14px 30px;
}
.box__info_description-button-1__link {
  color: #fff;
}
.box__info_description-button-2 {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  padding: 14px 30px;
}

/* section-5 price-information */
.price {
  margin-bottom: 150px;
}
.price-information__list {
  display: flex;
  padding: 80px;
  gap: 0 30px;
  border-radius: 12px;
  /* background: var(--Absolute-White, #FFF);   */
  margin-top: 80px;
}
.price-information__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 30px 30px;
  border-radius: 12px;
    background: linear-gradient(150deg, #8c00ff, #8c00ff46,transparent,#00ffd01f, #00ffd09c);
  border: 2px solid var(--White-95, #ffffff);
  gap: 50px 0;
  color: white;
  width: 705px;
}
.price-information__item:hover {
  box-shadow: 0 0 50px #00ffd0;
}
.price-information__item_plan {
  padding: 12px 22px;
  border-radius: 6px;
  background: var(--Orange-97, #00ffd0);
  width: 100%;
}
.price-information__item_price {

  display: flex;
}
.price-information__item_price-data {
  position: relative;
  bottom: -15px;
  color: white;
  text-shadow: 0 0 15px #00ffd0;
}
.price-information__item_item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px;
  gap: 20px 0;
}
.price-infomation__item_item-box {
  padding: 6px;
  border-radius: 6px;
  background: var(--Orange-95, #00ffd0);
}
.price-information__item_item-box__icon {
  width: 20px;
  height: 20px;
}
.price-information__item_item-text {
  margin: auto 20px;
  color: white;
  text-shadow: 0 0 15px #00ffd0;
}
.price-information__button {
  padding: 18px 24px;
  background: var(--Orange-50, #8c00ff);
  border-radius: 0px 0px 8px 8px;
  border: none;
  width: 100%;
}
.price-information__button a {
  color: #fff;
}
@media (max-width: 1200px) {
  .price-information__list {
    padding: 50px;
  }
}
@media (max-width: 992px) {
  .price-information__item {
    padding: 30px;
    width: 580px;
  }
}
@media (max-width: 767px) {
  .price-information__list {
    flex-direction: column;
    gap: 30px;
    padding: 30px;
  }
  .price-information__item {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 30px 20px;
    width: 450px;
  }
}
@media (max-width: 550px) {
  .price-information__list {
    gap: 30px 0;
    padding: 20px;
  }
  .price-information__item {
    padding: 20px;
    width: 350px;
  }
}
@media (max-width: 400px) {
  .price-information__list {
    padding: 20px 10px;
  }
  .price-information__item {
    padding: 20px 10px;
    width: 280px;
  }
}

/* section-6 famouse*/
.famouse {
  margin: 150px 0;
}
.famouse-box {
  display: flex;
  padding: 100px;
  border-radius: 12px;
  background: linear-gradient(230deg, #8c00ff, #8c00ff46,transparent,#00ffd01f, #00ffd09c);
  gap: 0 120px;
  color: white;
}
.famouse-box:hover {
  box-shadow: 0 0 50px #00ffd0;
}
.famouse-box__list {
  padding: 50px;
  width: 870px;
}
.famouse-box__description {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 408px; 
}
.famouse-box__item_info {
  display: flex;
  justify-content: space-between;
}
.famouse-box__item {
  padding: 0 0 24px;
}
.famouse-box__description__button {
  width: 164px;
  padding: 18px 24px;
  border-radius: 8px;
  color: #00ffd0;
  border: 1px solid var(--White-95, #00ffd0);
  background-color: transparent;
}
.famouse-box__item_info-title {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.famouse-box__item_info-icon {
  padding: 12px;
  background: var(--Orange-95, #00ffd0);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.famouse-box__item_info-open {
  padding: 14px;
  border-radius: 50%;
  background: var(--Absolute-White, #FFF);
}
.famouse-box__item_more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--White-97, #F7F7F8);
  border-radius: 8px;
  padding: 20px 30px;
}
.famouse-box__item_text {
  margin: 30px 0;
}
.famouse-box__item_more-title {
  color: var(--Grey-20, #333);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
.famouse-box__item_more-arrow {
  background: var(--Absolute-White, #FFF);
  border-radius: 50%;
  padding: 14px;
}
@media (max-width: 1300px) {
  .famouse-box__description {
    width: 570px;
  }
}
@media (max-width: 1200px) {
  .famouse-box__item_info {
    gap: 0 20px;
  }
}
@media (max-width: 1100px) {
  .famouse-box {
    padding: 70px;
    gap: 0 90px;
  }
}
@media (max-width: 992px) {
  .famouse-box {
    flex-direction: column;
  }
  .famouse-box__list {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .famouse-box {
    padding: 40px;
  }
  .famouse-box__list {
    padding: 30px;
  }
  .famouse-box__description {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .famouse-box {
    padding: 20px 10px;
  }
  .famouse-box__item_info {
    flex-direction: column;
    gap: 20px 0;
  }
  .famouse-box__list {
    padding: 30px 20px;
  }
}
